body{
    font-family: Arial, sans-serif;
    background:#eef2ff;
    margin:0;
    padding:20px;
    color:#111827;
}

/* HEADINGS */

h1,h2,h3,h4{
    color:#111827;
}

h1,h2{
    text-align:center;
}

/* MAIN CONTAINER */

.container{
    max-width:1000px;
    margin:auto;
}

/* MAIN CARD THEME */

.card{
    background:white;
    padding:20px;
    margin-bottom:20px;

    border-radius:12px;

    border:1px solid #dbe4ff;

    box-shadow:
    0 4px 12px rgba(37,99,235,0.08);
}

/* LINKS */

a{
    text-decoration:none;
    color:#2563eb;
    font-weight:bold;
}

/* BACK BUTTON */

.back-btn{
    display:inline-block;
    margin-bottom:20px;
}

/* HOME GRID */

.home-list{
    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

    gap:18px;
}

/* HOME CARD */

.home-card{
    background:white;

    padding:22px;

    border-radius:12px;

    border:1px solid #dbe4ff;

    box-shadow:
    0 4px 12px rgba(37,99,235,0.08);

    transition:0.2s;
}

.home-card:hover{
    transform:translateY(-4px);

    box-shadow:
    0 8px 20px rgba(37,99,235,0.15);
}

.home-card h3{
    margin-top:0;
    margin-bottom:12px;
}

.home-card p{
    line-height:1.6;
    color:#374151;
}

/* FILE TITLE */

.file-title{
    font-weight:bold;
    margin-top:10px;
    margin-bottom:8px;
    color:#111827;
}

/* CODE BOX */

.code-box{
    background:#f8faff;

    border:1px solid #dbe4ff;

    padding:15px;

    border-radius:10px;

    margin-bottom:25px;
}

/* RUN BOX */

.run-box{
    background:#f8faff;

    border:1px solid #dbe4ff;

    padding:15px;

    border-radius:10px;

    margin-bottom:25px;
}

.run-box h4{
    margin-top:0;
}

/* CODE WINDOW */

pre{
    background:white;

    color:#111827;

    padding:12px;

    border-radius:8px;

    border:1px solid #d1d5db;

    max-height:260px;

    overflow:auto;

    font-size:13px;

    line-height:1.5;

    margin-top:10px;
}

/* KEEP FORMATTING */

code{
    white-space:pre;
}

/* COPY BUTTON */

.copy-btn{
    background:#2563eb;

    color:white;

    border:none;

    padding:8px 14px;

    border-radius:6px;

    cursor:pointer;

    font-size:13px;

    transition:0.2s;
}

.copy-btn:hover{
    background:#1d4ed8;
}

/* MOBILE */

@media(max-width:768px){

    body{
        padding:10px;
    }

    .card{
        padding:15px;
    }

    .home-card{
        padding:18px;
    }

    pre{
        font-size:12px;
        max-height:220px;
    }

    .copy-btn{
        width:100%;
        margin-top:8px;
    }
}